.break{ 
    height: 50px;
}

.photo-container{ 
    padding: 40px;
    margin: 0 auto;
}
.gallery-title{ 
    font-size: 80px;
    margin: 10px 0 50px 0;
    padding: 10px;
}

.navbar-toggle-icon{ 
    color: grey;
}
@media screen and (max-width: 450px) {
  
    .gallery-title{ 
        font-size: 50px;
    }
   .photo-container{ 
       padding: 0;
   }
  
    
  }